body {
  margin: 15px;
  background-color: lightblue;
  text-align: center;
}

.fancy {
  font-style: italic;
}

.cats {
  float: left;
}

.dogs {
  float: right;
}

img {
  height: 250px;
  width: 250px;
}

div {
  background-color: darkblue;
  padding: 5px;
}

.animal {
  color: lightgreen;
}

.aboutText {
  background-color: inherit;
  margin-right: 5px;
}

li {
  font-style: italic;
  text-decoration: underline;
  background-color: beige;
}

@media screen and (max-width: 1000px) and (min-width: 481px) {
  body {
    background-color: yellow;
  }

  div {
    background-color: red;
  }

  li {
    background-color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }

  div {
    background-color: purple;
  }

  .cats{
    float: none;
  }

  .dogs {
    float: none;
  }
}
